header {
  background-color: 	#FFA500;
}

footer {
  background-color: 	#FFA500;
  color: white;
  
}

.foot > a {
  text-decoration: none;
  color:white;
  
}

.foot > a:hover, a:active {
  background-color: orangered;
}






body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.signup-box {
  width: 360px;
  height: 620px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}

.login-box {
  width: 360px;
  height: 280px;
  margin: auto;
  border-radius: 3px;
  background-color: white;
}

h1 {
  text-align: center;
  padding-top: 15px;
}

h4 {
  text-align: center;
}

.form {
  margin: 0 auto; 
  width:250px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
input[type="button"] {
  width:100px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: rgb(0, 0, 0);
  font-size: 18px;
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.para-2 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 15px;
  margin-top: -10px;
}
.para-2 a {
  color: #49c1a2;
}

.box {
  text-align: left;
  color:black;
  border:1px solid #000;
  font-weight:bold;
  margin:120px auto;
  height: 50%;
  display: inline-block, flex;
  width: 50%;
  justify-content: center;
  align-items: center;

}

.center {
  top: 50%;
  left: 50%;
  align-items: center;
  text-align: center;
}

.space {
  height: 300px;
}


